html
  head
    title= "Secrets"
    link(href='/styles.css', rel='stylesheet')
  body
    div(class="wrapper")
        | Store all your secrets
        form(action="/", method="post")
          input(name="_csrf", type="hidden", value=csrfToken)
          input(name="secret", type="password", placeholder="Your secret", value=secret)
        a(href='/support')= "Problem? Contact support"

    // TODO: deprecate search function
    script(type="text/comment")
        if search
           h2 No results for !{search}
        form(action="?", method="get")
           input(name="search")
